<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:if condition="!{isLocked}">
    <f:then>
        <div class="form-field-item">
            <div class="form-control-wrap">
                <div class="form-control-holder">
                    <div class="form-control-clearable form-control">
                        <input type="text" id="authCode" class="form-control input-login" name="authCode" value="" autofocus="autofocus" required="required" maxlength="6" minlength="6" pattern="[0-9]+" aria-label="{f:translate(key: 'LLL:EXT:mfa_email/Resources/Private/Language/locallang.xlf:auth.authCode.inputLabel')}" placeholder="{f:translate(key: 'LLL:EXT:mfa_email/Resources/Private/Language/locallang.xlf:auth.authCode.inputLabel')}"/>
                        <div class="alert alert-secondary my-4" role="alert">
                            <f:image src="EXT:mfa_email/Resources/Public/Icons/Extension.svg" style="width: 25px; max-width: 250px; height: auto; float: left; margin: 0 6px 6px 0;" />
                            <f:translate key="LLL:EXT:mfa_email/Resources/Private/Language/locallang.xlf:auth.message"/>
                            <br>
                            <a href="{resendLink}"><f:translate key="LLL:EXT:mfa_email/Resources/Private/Language/locallang.xlf:auth.resend.button"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </f:then>
    <f:else>
        <p>
            <core:icon identifier="actions-lock"/>
            <f:translate key="LLL:EXT:mfa_email/Resources/Private/Language/locallang.xlf:auth.locked"/>
        </p>
    </f:else>
</f:if>

</html>
